In [ ]:
from data_src import train_txf, test

In [2]:
print(train_txf)

              id       date  store_nbr  family     sales  onpromotion   day
0              0 2013-01-01          0       0     0.000            0     0
1              1 2013-01-01          0       1     0.000            0     0
2              2 2013-01-01          0       2     0.000            0     0
3              3 2013-01-01          0       3     0.000            0     0
4              4 2013-01-01          0       4     0.000            0     0
...          ...        ...        ...     ...       ...          ...   ...
3000883  3000883 2017-08-15          8      28   438.133            0  1687
3000884  3000884 2017-08-15          8      29   154.553            1  1687
3000885  3000885 2017-08-15          8      30  2419.729          148  1687
3000886  3000886 2017-08-15          8      31   121.000            8  1687
3000887  3000887 2017-08-15          8      32    16.000            0  1687

[3000888 rows x 7 columns]

In [4]:
train_txf['date'].dt.day_of_week

0          1
1          1
2          1
3          1
4          1
          ..
3000883    1
3000884    1
3000885    1
3000886    1
3000887    1
Name: date, Length: 3000888, dtype: int32

In [5]:
test[(test["store_nbr"] == store_number) & (test["family"] == product_family)].copy()

0            0
1            0
2            0
3            0
4            0
          ...
3000883      0
3000884      1
3000885    148
3000886      8
3000887      0
Name: onpromotion, Length: 3000888, dtype: int64